# TSTR CTGAN

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = 'C:/Users/27261/Desktop/prostate/code-0126/'
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'Dataset_cedric/SYNTHETIC DATASETS/CTGAN.csv')
categorical_columns = ["cT(MRI)","Multifocaal", "pN", "1c (0) - Perifeer (1) -  Beide (2) - Transitie (3)"]
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,eadnr (I),Age,Multifocaal,1c (0) - Perifeer (1) - Beide (2) - Transitie (3),Preoperatief PSA,Aantal zones positive percentage,Primaire Gleason,Secundaire Gleason,Grade group (highest),Target biopsie Core length (perc),...,Grootste diameter (percentage of tumor),Grootste mm aantasting (mms),Primaire,Secundaire,Grade group Grootste mm aantasting,Primaire Gleason.1,Secundaire Gleason.1,Grade Group,pN,cT(MRI)
0,77811907,70.93,0,2,9.18,0.27,4,4,3,55.35,...,88.56,4.46,4,5,2,4,3,2,0,0
1,81053954,67.77,1,1,11.45,0.95,4,3,3,79.71,...,115.18,4.29,3,4,1,3,3,2,0,4
2,76127604,67.25,1,1,11.62,0.88,4,3,3,101.93,...,68.66,0.40,3,4,2,3,5,5,0,4
3,79619898,56.37,0,1,13.62,0.41,4,4,4,83.65,...,98.79,5.75,3,4,1,4,4,2,0,3
4,74510538,54.60,0,2,12.55,0.90,3,6,2,86.44,...,79.78,4.20,3,3,3,3,4,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,73141046,72.18,0,3,7.44,0.78,3,4,3,58.80,...,65.61,-0.52,4,5,6,3,3,3,0,4
229,85460302,75.93,1,1,14.79,0.67,3,4,3,49.97,...,95.96,-0.82,3,4,4,3,4,2,0,1
230,83156614,71.82,1,1,9.42,1.16,4,3,3,86.94,...,76.14,2.34,3,4,5,4,5,2,0,6
231,77291550,72.03,0,1,19.53,0.67,4,4,3,76.01,...,92.59,-1.70,3,3,3,4,3,3,0,0
232,73251890,71.17,0,3,15.15,0.41,3,4,3,29.25,...,53.80,1.51,4,4,3,4,3,2,0,4

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'Dataset_cedric/SYNTHETIC DATASETS/CTGAN-2.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,eadnr (I),Age,Multifocaal,1c (0) - Perifeer (1) - Beide (2) - Transitie (3),Preoperatief PSA,Aantal zones positive percentage,Primaire Gleason,Secundaire Gleason,Grade group (highest),Target biopsie Core length (perc),...,Grootste diameter (percentage of tumor),Grootste mm aantasting (mms),Primaire,Secundaire,Grade group Grootste mm aantasting,Primaire Gleason.1,Secundaire Gleason.1,Grade Group,pN,cT(MRI)
0,82099487,51.41,0,1,-4.34,0.24,3,5,3,91.84,...,84.00,13.88,4,4,3,4,4,2,0,1
1,55538668,75.18,0,1,6.87,1.00,3,5,3,79.23,...,92.98,5.17,4,4,2,3,3,2,0,4
2,75187998,68.11,1,2,7.49,0.94,3,3,3,-1.23,...,45.45,9.90,3,4,3,4,4,5,0,1
3,77594516,78.84,1,1,13.43,0.61,3,4,6,64.22,...,61.40,10.26,3,4,3,4,3,1,0,1
4,73579318,74.58,0,2,22.48,0.31,4,6,2,88.99,...,107.89,8.80,4,4,2,3,3,3,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,81058937,65.18,0,1,5.75,0.29,3,4,6,56.71,...,64.98,11.34,4,4,3,3,5,2,0,4
229,74919580,59.84,0,2,-0.86,1.05,3,4,3,114.71,...,74.95,16.50,4,4,3,4,3,2,0,3
230,67264476,74.42,0,1,11.33,0.49,4,4,3,19.29,...,45.71,6.24,3,3,2,4,4,5,0,3
231,69078059,57.97,0,1,9.18,1.04,3,5,3,74.83,...,82.66,14.94,4,4,2,4,4,3,0,4
232,88214065,58.68,0,2,0.43,0.18,3,3,4,61.87,...,81.35,2.86,4,4,2,4,6,2,0,4

In [5]:
target = 'pN'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(233, 35)
pN
0    182
1     51
dtype: int64
#####################################
Test data
(233, 35)
pN
0    186
1     47
dtype: int64

## 2. Pre-process training data

In [6]:
target = "pN"
categorical_columns = ["cT(MRI)","Multifocaal", "1c (0) - Perifeer (1) -  Beide (2) - Transitie (3)"]
numerical_columns = numerical_columns = train_data.select_dtypes(include=['int64']).columns.tolist()
categories = [np.array(range(7)), np.array(range(2)), np.array(range(4))]

data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((233, 33), (233,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((233, 33), (233,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = pd.concat([results, rf_results], ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall      f1
0    RF     0.794     0.6366   0.794  0.7066

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = pd.concat([results, knn_results], ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.7983     0.6373  0.7983  0.7087

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = pd.concat([results, dt_results], ignore_index=True)
dt_results

  model  accuracy  precision  recall     f1
0    DT    0.6481     0.6835  0.6481  0.664

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = pd.concat([results, svm_results], ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.6996     0.6612  0.6996  0.6787

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = pd.concat([results, mlp_results], ignore_index=True)
mlp_results

Iteration 1, loss = 0.73180681
Iteration 2, loss = 0.65383796
Iteration 3, loss = 0.59787670
Iteration 4, loss = 0.56120302
Iteration 5, loss = 0.53238631
Iteration 6, loss = 0.51348261
Iteration 7, loss = 0.50086607
Iteration 8, loss = 0.49456926
Iteration 9, loss = 0.49172068
Iteration 10, loss = 0.48812822
Iteration 11, loss = 0.48156704
Iteration 12, loss = 0.47217100
Iteration 13, loss = 0.46213544
Iteration 14, loss = 0.45183980
Iteration 15, loss = 0.44249487
Iteration 16, loss = 0.43515036
Iteration 17, loss = 0.42794436
Iteration 18, loss = 0.42102286
Iteration 19, loss = 0.41600323
Iteration 20, loss = 0.40985306
Iteration 21, loss = 0.40138987
Iteration 22, loss = 0.39165121
Iteration 23, loss = 0.38228246
Iteration 24, loss = 0.37321569
Iteration 25, loss = 0.36544500
Iteration 26, loss = 0.35750735
Iteration 27, loss = 0.34949829
Iteration 28, loss = 0.34151531
Iteration 29, loss = 0.33329731
Iteration 30, loss = 0.32427521
Iteration 31, loss = 0.31586961
Iteration 32, loss = 0.30653106
Iteration 33, loss = 0.29805247
Iteration 34, loss = 0.28912196
Iteration 35, loss = 0.28027897
Iteration 36, loss = 0.27128640
Iteration 37, loss = 0.26208914
Iteration 38, loss = 0.25307008
Iteration 39, loss = 0.24422803
Iteration 40, loss = 0.23493141
Iteration 41, loss = 0.22613289
Iteration 42, loss = 0.21651627
Iteration 43, loss = 0.20754276
Iteration 44, loss = 0.19839028
Iteration 45, loss = 0.18937590
Iteration 46, loss = 0.18140826
Iteration 47, loss = 0.17367766
Iteration 48, loss = 0.16580913
Iteration 49, loss = 0.15783568
Iteration 50, loss = 0.14956387
Iteration 51, loss = 0.14135453
Iteration 52, loss = 0.13330656
Iteration 53, loss = 0.12656937
Iteration 54, loss = 0.11921327
Iteration 55, loss = 0.11284147
Iteration 56, loss = 0.10872716
Iteration 57, loss = 0.10290014
Iteration 58, loss = 0.09574246
Iteration 59, loss = 0.08927532
Iteration 60, loss = 0.08383156
Iteration 61, loss = 0.07803899
Iteration 62, loss = 0.07300459
Iteration 63, loss = 0.06782017
Iteration 64, loss = 0.06323734
Iteration 65, loss = 0.05891819
Iteration 66, loss = 0.05507544
Iteration 67, loss = 0.05163710
Iteration 68, loss = 0.04854482
Iteration 69, loss = 0.04557604
Iteration 70, loss = 0.04254717
Iteration 71, loss = 0.03992950
Iteration 72, loss = 0.03700356
Iteration 73, loss = 0.03458522
Iteration 74, loss = 0.03232655
Iteration 75, loss = 0.03055801
Iteration 76, loss = 0.02853946
Iteration 77, loss = 0.02665914
Iteration 78, loss = 0.02496800
Iteration 79, loss = 0.02339721
Iteration 80, loss = 0.02202375
Iteration 81, loss = 0.02070720
Iteration 82, loss = 0.01942965
Iteration 83, loss = 0.01826241
Iteration 84, loss = 0.01716885
Iteration 85, loss = 0.01612715
Iteration 86, loss = 0.01514278
Iteration 87, loss = 0.01426300
Iteration 88, loss = 0.01356102
Iteration 89, loss = 0.01284539
Iteration 90, loss = 0.01215020
Iteration 91, loss = 0.01152566
Iteration 92, loss = 0.01085447
Iteration 93, loss = 0.01022381
Iteration 94, loss = 0.00968621
Iteration 95, loss = 0.00920993
Iteration 96, loss = 0.00881255
Iteration 97, loss = 0.00841381
Iteration 98, loss = 0.00800839
Iteration 99, loss = 0.00765088
Iteration 100, loss = 0.00729463
Iteration 101, loss = 0.00699067
Iteration 102, loss = 0.00670083
Iteration 103, loss = 0.00641710
Iteration 104, loss = 0.00615828
Iteration 105, loss = 0.00591520
Iteration 106, loss = 0.00568758
Iteration 107, loss = 0.00548378
Iteration 108, loss = 0.00527089
Iteration 109, loss = 0.00505451
Iteration 110, loss = 0.00484385
Iteration 111, loss = 0.00465261
Iteration 112, loss = 0.00446604
Iteration 113, loss = 0.00431451
Iteration 114, loss = 0.00415855
Iteration 115, loss = 0.00401835
Iteration 116, loss = 0.00389039
Iteration 117, loss = 0.00375354
Iteration 118, loss = 0.00363155
Iteration 119, loss = 0.00351290
Iteration 120, loss = 0.00340522
Iteration 121, loss = 0.00330092
Iteration 122, loss = 0.00320548
Iteration 123, loss = 0.00311040
Iteration 124, loss = 0.00301488
Iteration 125, loss = 0.00292231
Iteration 126, loss = 0.00284521
Iteration 127, loss = 0.00278440
Iteration 128, loss = 0.00271082
Iteration 129, loss = 0.00264065
Iteration 130, loss = 0.00256615
Iteration 131, loss = 0.00249784
Iteration 132, loss = 0.00243515
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

  model  accuracy  precision  recall      f1
0   MLP    0.7382     0.6799  0.7382  0.7034

## 9. Save results file

In [14]:
# results.to_csv(HOME_PATH+'RESULTS/models_results_ctgan.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.7940     0.6366  0.7940  0.7066
1   KNN    0.7983     0.6373  0.7983  0.7087
2    DT    0.6481     0.6835  0.6481  0.6640
3   SVM    0.6996     0.6612  0.6996  0.6787
4   MLP    0.7382     0.6799  0.7382  0.7034