# TSTR SDV

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = 'C:/Users/27261/Desktop/prostate/code-0126/'
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'Dataset_cedric/SYNTHETIC DATASETS/SDV-FML.csv')
categorical_columns = ["cT(MRI)","Multifocaal", "pN", "1c (0) - Perifeer (1) -  Beide (2) - Transitie (3)"]
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,eadnr (I),Age,Multifocaal,1c (0) - Perifeer (1) - Beide (2) - Transitie (3),Preoperatief PSA,Aantal zones positive percentage,Primaire Gleason,Secundaire Gleason,Grade group (highest),Target biopsie Core length (perc),...,Grootste diameter (percentage of tumor),Grootste mm aantasting (mms),Primaire,Secundaire,Grade group Grootste mm aantasting,Primaire Gleason.1,Secundaire Gleason.1,Grade Group,pN,cT(MRI)
0,600,73.12,1,3,9.72,0.52,5,4,1,87.14,...,100.00,12.41,5,4,3,4,4,2,0,4
1,601,72.52,1,1,23.37,0.61,4,4,3,64.21,...,58.86,3.91,4,3,2,3,5,4,0,4
2,602,55.47,0,1,1.88,0.34,4,3,3,43.69,...,33.85,6.56,4,4,4,3,3,3,0,3
3,603,68.75,0,3,1.30,0.67,3,3,3,44.17,...,44.82,8.32,3,3,2,4,4,2,0,4
4,604,66.00,0,1,1.30,0.16,3,4,2,32.16,...,41.67,2.02,4,4,2,3,4,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,828,61.03,0,1,3.78,0.61,3,3,4,78.37,...,72.44,8.58,3,3,4,3,5,5,0,4
229,829,64.58,1,1,30.00,0.18,3,4,2,19.62,...,26.69,2.02,3,4,2,3,3,1,0,4
230,830,63.82,0,1,1.30,0.81,4,4,2,98.21,...,100.00,12.85,3,4,4,3,4,2,0,4
231,831,63.73,0,1,3.94,0.42,3,4,2,39.98,...,22.66,2.61,4,4,2,4,3,2,0,1
232,832,66.93,0,2,16.81,0.17,3,4,2,23.90,...,40.62,3.80,3,4,2,4,4,5,0,4

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'Dataset_cedric/SYNTHETIC DATASETS/SDV-FML-2.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,eadnr (I),Age,Multifocaal,1c (0) - Perifeer (1) - Beide (2) - Transitie (3),Preoperatief PSA,Aantal zones positive percentage,Primaire Gleason,Secundaire Gleason,Grade group (highest),Target biopsie Core length (perc),...,Grootste diameter (percentage of tumor),Grootste mm aantasting (mms),Primaire,Secundaire,Grade group Grootste mm aantasting,Primaire Gleason.1,Secundaire Gleason.1,Grade Group,pN,cT(MRI)
0,0,69.64,0,1,27.76,0.64,4,3,3,64.46,...,74.91,8.37,4,3,4,3,4,2,0,4
1,1,73.14,0,3,23.34,0.18,4,5,4,72.79,...,94.31,12.64,4,3,3,4,4,2,0,5
2,2,64.89,0,3,27.91,0.70,3,4,3,70.82,...,82.65,9.42,4,4,1,4,4,3,0,1
3,3,68.33,1,1,24.77,0.50,3,4,2,47.59,...,48.75,3.71,3,4,2,3,4,2,0,4
4,4,67.20,0,1,2.56,0.27,3,3,3,30.45,...,53.02,5.03,3,3,2,4,3,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,228,61.51,0,1,26.19,0.54,3,4,2,76.61,...,78.66,9.99,3,4,2,5,3,2,0,4
229,229,73.29,0,1,1.30,0.70,4,3,2,59.17,...,68.84,8.02,4,4,4,3,3,3,0,4
230,230,69.23,0,3,31.14,1.00,3,4,2,84.80,...,90.13,13.83,3,4,1,3,4,3,0,4
231,231,62.95,0,1,12.58,0.33,4,4,5,40.04,...,50.29,7.72,4,4,4,4,3,1,0,4
232,232,63.73,0,1,29.62,0.53,4,3,3,64.20,...,78.47,8.70,4,3,3,4,4,3,0,4

In [5]:
target = 'pN'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(233, 35)
pN
0    229
1      4
dtype: int64
#####################################
Test data
(233, 35)
pN
0    228
1      5
dtype: int64

## 2. Pre-process training data

In [6]:
target = "pN"
categorical_columns = ["cT(MRI)","Multifocaal", "1c (0) - Perifeer (1) -  Beide (2) - Transitie (3)"]
numerical_columns = numerical_columns = train_data.select_dtypes(include=['int64']).columns.tolist()
categories = [np.array(range(7)), np.array(range(2)), np.array(range(4))]

data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((233, 33), (233,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((233, 33), (233,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = pd.concat([results, rf_results], ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.1s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall      f1
0    RF    0.9785     0.9575  0.9785  0.9679

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = pd.concat([results, knn_results], ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.9785     0.9575  0.9785  0.9679

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = pd.concat([results, dt_results], ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT     0.867     0.9549   0.867  0.9088

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = pd.concat([results, svm_results], ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.9785     0.9575  0.9785  0.9679

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = pd.concat([results, mlp_results], ignore_index=True)
mlp_results

Iteration 1, loss = 0.74054642
Iteration 2, loss = 0.61027502
Iteration 3, loss = 0.50305474
Iteration 4, loss = 0.41424692
Iteration 5, loss = 0.33876537
Iteration 6, loss = 0.27397370
Iteration 7, loss = 0.21957829
Iteration 8, loss = 0.17541085
Iteration 9, loss = 0.14107426
Iteration 10, loss = 0.11630930
Iteration 11, loss = 0.10064493
Iteration 12, loss = 0.08979264
Iteration 13, loss = 0.08346877
Iteration 14, loss = 0.07991772
Iteration 15, loss = 0.07793993
Iteration 16, loss = 0.07682462
Iteration 17, loss = 0.07600405
Iteration 18, loss = 0.07532374
Iteration 19, loss = 0.07396350
Iteration 20, loss = 0.07207361
Iteration 21, loss = 0.07016628
Iteration 22, loss = 0.06798458
Iteration 23, loss = 0.06584292
Iteration 24, loss = 0.06317873
Iteration 25, loss = 0.06078716
Iteration 26, loss = 0.05828143
Iteration 27, loss = 0.05596926
Iteration 28, loss = 0.05363423
Iteration 29, loss = 0.05175672
Iteration 30, loss = 0.04947665
Iteration 31, loss = 0.04774113
Iteration 32, loss = 0.04554680
Iteration 33, loss = 0.04337380
Iteration 34, loss = 0.04150286
Iteration 35, loss = 0.03993161
Iteration 36, loss = 0.03802141
Iteration 37, loss = 0.03622986
Iteration 38, loss = 0.03468056
Iteration 39, loss = 0.03338069
Iteration 40, loss = 0.03181368
Iteration 41, loss = 0.03048008
Iteration 42, loss = 0.02904347
Iteration 43, loss = 0.02782443
Iteration 44, loss = 0.02650915
Iteration 45, loss = 0.02541003
Iteration 46, loss = 0.02422887
Iteration 47, loss = 0.02314971
Iteration 48, loss = 0.02211330
Iteration 49, loss = 0.02127772
Iteration 50, loss = 0.02038918
Iteration 51, loss = 0.01957360
Iteration 52, loss = 0.01879915
Iteration 53, loss = 0.01813007
Iteration 54, loss = 0.01744955
Iteration 55, loss = 0.01684766
Iteration 56, loss = 0.01627552
Iteration 57, loss = 0.01577801
Iteration 58, loss = 0.01531089
Iteration 59, loss = 0.01488376
Iteration 60, loss = 0.01445294
Iteration 61, loss = 0.01405990
Iteration 62, loss = 0.01366493
Iteration 63, loss = 0.01326591
Iteration 64, loss = 0.01289180
Iteration 65, loss = 0.01251206
Iteration 66, loss = 0.01218189
Iteration 67, loss = 0.01179726
Iteration 68, loss = 0.01149606
Iteration 69, loss = 0.01118585
Iteration 70, loss = 0.01085024
Iteration 71, loss = 0.01051778
Iteration 72, loss = 0.01021493
Iteration 73, loss = 0.00990030
Iteration 74, loss = 0.00962932
Iteration 75, loss = 0.00932029
Iteration 76, loss = 0.00899596
Iteration 77, loss = 0.00870554
Iteration 78, loss = 0.00838357
Iteration 79, loss = 0.00802195
Iteration 80, loss = 0.00772570
Iteration 81, loss = 0.00740902
Iteration 82, loss = 0.00702865
Iteration 83, loss = 0.00676243
Iteration 84, loss = 0.00649704
Iteration 85, loss = 0.00618012
Iteration 86, loss = 0.00595424
Iteration 87, loss = 0.00569565
Iteration 88, loss = 0.00547056
Iteration 89, loss = 0.00525651
Iteration 90, loss = 0.00508381
Iteration 91, loss = 0.00489686
Iteration 92, loss = 0.00472819
Iteration 93, loss = 0.00456968
Iteration 94, loss = 0.00439943
Iteration 95, loss = 0.00425064
Iteration 96, loss = 0.00409259
Iteration 97, loss = 0.00392590
Iteration 98, loss = 0.00375662
Iteration 99, loss = 0.00362956
Iteration 100, loss = 0.00348674
Iteration 101, loss = 0.00336214
Iteration 102, loss = 0.00324346
Iteration 103, loss = 0.00314113
Iteration 104, loss = 0.00302336
Iteration 105, loss = 0.00292251
Iteration 106, loss = 0.00280134
Iteration 107, loss = 0.00270259
Iteration 108, loss = 0.00258439
Iteration 109, loss = 0.00248149
Iteration 110, loss = 0.00238875
Iteration 111, loss = 0.00230590
Iteration 112, loss = 0.00223059
Iteration 113, loss = 0.00216156
Iteration 114, loss = 0.00209818
Iteration 115, loss = 0.00202588
Iteration 116, loss = 0.00197487
Iteration 117, loss = 0.00190380
Iteration 118, loss = 0.00184564
Iteration 119, loss = 0.00178575
Iteration 120, loss = 0.00171021
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

  model  accuracy  precision  recall      f1
0   MLP    0.9785     0.9575  0.9785  0.9679

## 9. Save results file

In [14]:
results.to_csv(HOME_PATH + 'RESULTS/models_results_sdv_fml.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.9785     0.9575  0.9785  0.9679
1   KNN    0.9785     0.9575  0.9785  0.9679
2    DT    0.8670     0.9549  0.8670  0.9088
3   SVM    0.9785     0.9575  0.9785  0.9679
4   MLP    0.9785     0.9575  0.9785  0.9679